<html>
    <head>
        <meta charset="UTF-8">
        <link rel=stylesheet href="free_board.css">
    </head>
    <body>
        <div class="background">
            <!-- status bar -->

            <!-- topbar -->
            <div class="free_board">
                <span class="back">
                    <img src="back.svg" alt="back">
                </span>
                <p class="free_board_txt">자유게시판</p>
                <span class="menu">
                    <img src="menu.svg" alt="menu">
                </span>
            </div>

            <!-- main content -->
            <div class="content_main">

                <div class="title_box">
                    <div class="user">
                        <img src="user.svg" alt="user">
                    </div>
                    <div class="title">일이삼사오육칠팔구십일이삼사오육칠팔구십일이</div>
                    <div class="info_time">2022.09.29 10:21</div>
                    <div class="info_act">공감32 | 북마크2</div>
                    <div class="dot">
                        <img src="dot.svg" alt="dot">
                    </div>
                </div>

                <div class="title2">일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일</div>
                <div class="content">내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없</div>
                <div class="pic1">
                    <img src="pic.svg" alt="pic1">
                </div>
                <div class="pic2">
                    <img src="pic.svg" alt="pic1">                  
                </div>

                <div class="act">
                    <img src="act.svg" alt="act">
                </div>

                </div>
            </div>

            <!-- comment -->
            <div class="comment">
                <div class="write_comment">댓글을 입력하세요.</div>
                <div class="enter">
                    <img src="enter.svg" alt="enter">
                </div>
            </div>

            <!-- 다음 글 -->
            <div class="next_content">
                <div class="next1">
                    <div class="next1_user">
                        <img src="user.svg" alt="enter">
                    </div>
                    <div class="next1_title">일이삼사오육칠팔구십일이삼사오육칠팔구십일이</div>
                    <div class="next1_time">2022.09.29 10:21</div>
                    <div class="next1_good_num">44</div>
                    <div class="next1_good_bttn">
                        <img src="good.svg" alt="good">
                    </div>
                    <div class="next1_content">내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다</div>
                </div>
            </div>


        </div>
    </body>
</html>