<html>
    <head>
        <meta charset="UTF-8">
        <link rel=stylesheet href="notice.css">
    </head>
    <body>
        <div class="background">
            <!-- status bar -->

            <!-- topbar -->
            <div class="notice">
                <span class="back">
                    <img src="back.svg" alt="back">
                </span>
                <p class="notice_txt">공지사항</p>
                <span class="menu">
                    <img src="menu.svg" alt="menu">
                </span>
            </div>

            <!-- 글쓰기 -->
            <div class="write">
                <div class="title">일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사</div>
                <div class="nickname">닉네임</div>
                <div class="date">2022.09.29</div>
                <div class="content">
                    내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다내용은글자수제한없습니다
                    <br><br>
                    한없습니다내용은글자수제한없습니다내용은글자수제한없습니다한없습니다내용은글자수제한없습니다내용은글자수제한없습니다한없습니다내용은글자수제한없습니다내용은글자수제한없습니다한없습니다내용은글자수제한없습니다내용은글자수제한없습니다한없습니다내용은글자수제한없습니다내용은글자수제한없습니다한없습니다내용은글자수제한없습니다내용은글자수제한없습니다한없습니다내용은글자수제한없습니다내용은글자수제한없습니다
                    <br><br>
                    한없습니다내용은글자수제한없습니다내용은글자수제한없습니다
                </div>

                <div class="pic1">
                    <img src="pic.svg" alt="pic1">
                </div>
                <div class="pic2">
                    <img src="pic.svg" alt="pic1">                  
                </div>

                <div class="file1">
                    <p class="file_txt">첨부파일</p>
                </div>
                <div class="file2">
                    <p class="file_txt">첨부파일</p>
                </div>




            </div>





        
        </div>
    </body>
</html>       