@font-face {
  font-family: "Pretendatd-Regular";
  src: url("../fonts/Pretendard-Regular.ttf");
}

* {
  font-family: "Pretendatd-Regular";
}
.logo {
  height: 22%;
  width: 40%;
}

.sign-in {
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 430px;
  background-color: #f5f5f5;
}

.title-explain {
  margin-top: 0;
  padding-top: 164px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #636363;
}

.title-name {
  margin: 0;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  background: linear-gradient(
    315.35deg,
    #225a21 13.45%,
    #326a31 45.29%,
    #528651 90.2%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.login-btn,
.signup-btn {
  width: 35%;
  height: 35px;
  background: linear-gradient(
    315.35deg,
    #225a21 13.45%,
    #326a31 45.29%,
    #528651 90.2%
  );
  border-style: none;
  border-radius: 5px;
  color: white;
  margin-bottom: 8px;
  cursor: pointer;
}
